In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

Agrupando e agregando dados

In [3]:
import numpy as np
import pandas as pd

In [6]:
#Criando DataFrame
df = pd.read_csv('Flights.csv')

In [11]:
#Cenário 1: Agrupando por origem e destino
grouped = df.groupby(['Origin', 'Destination'])

#aplica e agrega uma função ao grupo
aggregated = grouped.agg({'Passengers' : 'sum', 'Flights' : 'sum'})

#Seleciona os valores dessa tabela
sorted_values = aggregated.sort_values(by = ['Passengers', 'Flights'], ascending = False)

#Exibe os valores
print(sorted_values.head())

                    Passengers  Flights
Origin Destination
OGG    HNL            32103192   392981
HNL    OGG            29619301   388696
LAS    LAX            26069274   289311
LAX    LAS            25990009   294209
PHX    LAS            21618801   230216

In [15]:
#Cenário 2: Agrupando por data de voo

#Convertendo fly date em datetime e criando mes para agrupamento
df['Month'] = pd.to_datetime(df['Fly Date'], format='%Y%m').dt.to_period('M')

#Agrupar por mes e agregar a soma da coluna voos
grouped = df.groupby('Month')
aggregated = grouped.agg({'Flights' : 'sum'})

#Classificando por mês
sorted_values = aggregated.sort_values(by = 'Month')

#Exibe os valores
print(sorted_values)

         Flights
Month
1990-01   147050
1990-02   131979
1990-03   149586
1990-04   146542
1990-05   152896
...          ...
2009-08   177016
2009-09   166902
2009-10   170380
2009-11   161777
2009-12   161342

[240 rows x 1 columns]