In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Criando DataFrame
df = pd.read_csv('Flights.csv')

Filtragem de dados

In [8]:
#Cenário 1: Extrair registros de voos do ano 2000
df['Year'] = df['Fly Date'].astype(str).str.slice(0, 4)
voos2000 = df[df['Year'] == '2000']
print(voos2000)

        Unnamed: 0 Origin Destination    Origin City       Destination City  \
412            636    SEA         RDM    Seattle, WA               Bend, OR
413            637    SEA         RDM    Seattle, WA               Bend, OR
414            638    SEA         RDM    Seattle, WA               Bend, OR
415            639    SEA         RDM    Seattle, WA               Bend, OR
416            640    SEA         RDM    Seattle, WA               Bend, OR
...            ...    ...         ...            ...                    ...
617150     3606696    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617151     3606697    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617152     3606698    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617153     3606699    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617154     3606700    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO

        Passengers  Seats  Flights  Distance  Fly Date  Origin Population  \
412           2023   4144      112     228.0    200001            6104758
413           2995   4699      127     228.0    200012            6104758
414           3134   5328      144     228.0    200009            6104758
415           3420   5328      144     228.0    200006            6104758
416           3108   5106      138     228.0    200010            6104758
...            ...    ...      ...       ...       ...                ...
617150         663   1425       75     119.0    200003            2701634
617151         166    342       18     119.0    200005            2701634
617152         548   1254       66     119.0    200001            2701634
617153         456   1311       69     119.0    200002            2701634
617154         589   1330       70     119.0    200004            2701634

        Destination Population  Year
412                     116618  2000
413                     116618  2000
414                     116618  2000
415                     116618  2000
416                     116618  2000
...                        ...   ...
617150                   41712  2000
617151                   41712  2000
617152                   41712  2000
617153                   41712  2000
617154                   41712  2000

[26329 rows x 13 columns]

In [9]:
#Cenário 2: encontrar voos que não incluam LAX como origem
no_lax = df[~df['Origin'].isin(['LAX'])]
print(no_lax)

        Unnamed: 0 Origin Destination    Origin City       Destination City  \
0                1    EUG         RDM     Eugene, OR               Bend, OR
1                2    EUG         RDM     Eugene, OR               Bend, OR
2               10    SEA         RDM    Seattle, WA               Bend, OR
3               11    SEA         RDM    Seattle, WA               Bend, OR
4               12    SEA         RDM    Seattle, WA               Bend, OR
...            ...    ...         ...            ...                    ...
617248     3606796    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617249     3606797    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617250     3606798    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617251     3606799    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617252     3606800    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO

        Passengers  Seats  Flights  Distance  Fly Date  Origin Population  \
0               41    396       22     103.0    199011             284093
1               88    342       19     103.0    199012             284093
2              453   3128       23     228.0    199001            5154164
3              784   2720       20     228.0    199002            5154164
4              749   2992       22     228.0    199003            5154164
...            ...    ...      ...       ...       ...                ...
617248         331   1330       70     119.0    200905            2828990
617249         292   1311       69     119.0    200906            2828990
617250         281    969       51     119.0    200902            2828990
617251         245   1026       54     119.0    200911            2828990
617252         363   1273       67     119.0    200908            2828990

        Destination Population  Year
0                        76034  1990
1                        76034  1990
2                        76034  1990
3                        76034  1990
4                        76034  1990
...                        ...   ...
617248                   46457  2009
617249                   46457  2009
617250                   46457  2009
617251                   46457  2009
617252                   46457  2009

[610930 rows x 13 columns]

In [10]:
#Cenário 3: todos os voo que tem LAX como origem
lax = df[df['Origin'].isin(['LAX'])]
print(lax)

        Unnamed: 0 Origin Destination      Origin City      Destination City  \
6775         31650    LAX         YUM  Los Angeles, CA              Yuma, AZ
6776         31651    LAX         YUM  Los Angeles, CA              Yuma, AZ
6777         31652    LAX         YUM  Los Angeles, CA              Yuma, AZ
6778         31653    LAX         YUM  Los Angeles, CA              Yuma, AZ
6779         31654    LAX         YUM  Los Angeles, CA              Yuma, AZ
...            ...    ...         ...              ...                   ...
616775     3606280    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ
616776     3606281    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ
616777     3606282    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ
616778     3606283    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ
616779     3606284    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ

        Passengers  Seats  Flights  Distance  Fly Date  Origin Population  \
6775           893   3059      161     237.0    199509           23203726
6776          1096   3173      167     237.0    199510           23203726
6777           903   3021      159     237.0    199508           23203726
6778           751   3040      160     237.0    199507           23203726
6779          1051   2983      157     237.0    199511           23203726
...            ...    ...      ...       ...       ...                ...
616775         186    418       22     236.0    199611           23326070
616776         991   1501       79     236.0    199605           23326070
616777         822   1425       75     236.0    199607           23326070
616778         745   1387       73     236.0    199610           23326070
616779         851   1406       74     236.0    199606           23326070

        Destination Population  Year
6775                    121807  1995
6776                    121807  1995
6777                    121807  1995
6778                    121807  1995
6779                    121807  1995
...                        ...   ...
616775                  125838  1996
616776                  125838  1996
616777                  125838  1996
616778                  125838  1996
616779                  125838  1996

[6323 rows x 13 columns]

In [11]:
#Cenário 4: mais de 100 passageiros e distancia menor que 1000 milhas
passageiro_distancia = df[(df['Passengers'] > 100) & (df['Distance'] < 1000)]
print(passageiro_distancia)

        Unnamed: 0 Origin Destination    Origin City       Destination City  \
2               10    SEA         RDM    Seattle, WA               Bend, OR
3               11    SEA         RDM    Seattle, WA               Bend, OR
4               12    SEA         RDM    Seattle, WA               Bend, OR
5               14    PDX         RDM   Portland, OR               Bend, OR
6               15    PDX         RDM   Portland, OR               Bend, OR
...            ...    ...         ...            ...                    ...
617248     3606796    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617249     3606797    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617250     3606798    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617251     3606799    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617252     3606800    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO

        Passengers  Seats  Flights  Distance  Fly Date  Origin Population  \
2              453   3128       23     228.0    199001            5154164
3              784   2720       20     228.0    199002            5154164
4              749   2992       22     228.0    199003            5154164
5              349    851       23     116.0    199001            1534762
6             1376   2898      161     116.0    199001            1534762
...            ...    ...      ...       ...       ...                ...
617248         331   1330       70     119.0    200905            2828990
617249         292   1311       69     119.0    200906            2828990
617250         281    969       51     119.0    200902            2828990
617251         245   1026       54     119.0    200911            2828990
617252         363   1273       67     119.0    200908            2828990

        Destination Population  Year
2                        76034  1990
3                        76034  1990
4                        76034  1990
5                        76034  1990
6                        76034  1990
...                        ...   ...
617248                   46457  2009
617249                   46457  2009
617250                   46457  2009
617251                   46457  2009
617252                   46457  2009

[567988 rows x 13 columns]

In [12]:
#Cenário 5: Todos os voos de/para New York ou Los Angeles
cidades = df[df['Origin City'].str.contains('New York|Los Angeles') | df['Destination City'].str.contains('New York|Los Angeles')]
print(cidades)

        Unnamed: 0 Origin Destination      Origin City      Destination City  \
6775         31650    LAX         YUM  Los Angeles, CA              Yuma, AZ
6776         31651    LAX         YUM  Los Angeles, CA              Yuma, AZ
6777         31652    LAX         YUM  Los Angeles, CA              Yuma, AZ
6778         31653    LAX         YUM  Los Angeles, CA              Yuma, AZ
6779         31654    LAX         YUM  Los Angeles, CA              Yuma, AZ
...            ...    ...         ...              ...                   ...
616775     3606280    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ
616776     3606281    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ
616777     3606282    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ
616778     3606283    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ
616779     3606284    LAX         HII  Los Angeles, CA  Lake Havasu City, AZ

        Passengers  Seats  Flights  Distance  Fly Date  Origin Population  \
6775           893   3059      161     237.0    199509           23203726
6776          1096   3173      167     237.0    199510           23203726
6777           903   3021      159     237.0    199508           23203726
6778           751   3040      160     237.0    199507           23203726
6779          1051   2983      157     237.0    199511           23203726
...            ...    ...      ...       ...       ...                ...
616775         186    418       22     236.0    199611           23326070
616776         991   1501       79     236.0    199605           23326070
616777         822   1425       75     236.0    199607           23326070
616778         745   1387       73     236.0    199610           23326070
616779         851   1406       74     236.0    199606           23326070

        Destination Population  Year
6775                    121807  1995
6776                    121807  1995
6777                    121807  1995
6778                    121807  1995
6779                    121807  1995
...                        ...   ...
616775                  125838  1996
616776                  125838  1996
616777                  125838  1996
616778                  125838  1996
616779                  125838  1996

[40978 rows x 13 columns]

In [13]:
#Cenário 6: População de origem superior a 1 milhão de pessoas
pop_origem = df[df['Origin Population'] > 1_000_000]
print(pop_origem)

        Unnamed: 0 Origin Destination    Origin City       Destination City  \
2               10    SEA         RDM    Seattle, WA               Bend, OR
3               11    SEA         RDM    Seattle, WA               Bend, OR
4               12    SEA         RDM    Seattle, WA               Bend, OR
5               14    PDX         RDM   Portland, OR               Bend, OR
6               15    PDX         RDM   Portland, OR               Bend, OR
...            ...    ...         ...            ...                    ...
617248     3606796    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617249     3606797    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617250     3606798    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617251     3606799    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617252     3606800    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO

        Passengers  Seats  Flights  Distance  Fly Date  Origin Population  \
2              453   3128       23     228.0    199001            5154164
3              784   2720       20     228.0    199002            5154164
4              749   2992       22     228.0    199003            5154164
5              349    851       23     116.0    199001            1534762
6             1376   2898      161     116.0    199001            1534762
...            ...    ...      ...       ...       ...                ...
617248         331   1330       70     119.0    200905            2828990
617249         292   1311       69     119.0    200906            2828990
617250         281    969       51     119.0    200902            2828990
617251         245   1026       54     119.0    200911            2828990
617252         363   1273       67     119.0    200908            2828990

        Destination Population  Year
2                        76034  1990
3                        76034  1990
4                        76034  1990
5                        76034  1990
6                        76034  1990
...                        ...   ...
617248                   46457  2009
617249                   46457  2009
617250                   46457  2009
617251                   46457  2009
617252                   46457  2009

[385477 rows x 13 columns]

In [14]:
#Cenário 7: Voos que possuem assentos vazios e para onde são
voos = df.query('Seats > Passengers')
print(voos['Destination City'])

0                      Bend, OR
1                      Bend, OR
2                      Bend, OR
3                      Bend, OR
4                      Bend, OR
                  ...
617248    Fort Leonard Wood, MO
617249    Fort Leonard Wood, MO
617250    Fort Leonard Wood, MO
617251    Fort Leonard Wood, MO
617252    Fort Leonard Wood, MO
Name: Destination City, Length: 574520, dtype: object

In [15]:
#Cenário 8: voos com distância < 300 milhas e com mais de 10 voos por mês
voosp = df.query('Distance < 300 & Flights > 10')
print(voosp)

        Unnamed: 0 Origin Destination    Origin City       Destination City  \
0                1    EUG         RDM     Eugene, OR               Bend, OR
1                2    EUG         RDM     Eugene, OR               Bend, OR
2               10    SEA         RDM    Seattle, WA               Bend, OR
3               11    SEA         RDM    Seattle, WA               Bend, OR
4               12    SEA         RDM    Seattle, WA               Bend, OR
...            ...    ...         ...            ...                    ...
617248     3606796    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617249     3606797    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617250     3606798    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617251     3606799    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO
617252     3606800    STL         TBN  St. Louis, MO  Fort Leonard Wood, MO

        Passengers  Seats  Flights  Distance  Fly Date  Origin Population  \
0               41    396       22     103.0    199011             284093
1               88    342       19     103.0    199012             284093
2              453   3128       23     228.0    199001            5154164
3              784   2720       20     228.0    199002            5154164
4              749   2992       22     228.0    199003            5154164
...            ...    ...      ...       ...       ...                ...
617248         331   1330       70     119.0    200905            2828990
617249         292   1311       69     119.0    200906            2828990
617250         281    969       51     119.0    200902            2828990
617251         245   1026       54     119.0    200911            2828990
617252         363   1273       67     119.0    200908            2828990

        Destination Population  Year
0                        76034  1990
1                        76034  1990
2                        76034  1990
3                        76034  1990
4                        76034  1990
...                        ...   ...
617248                   46457  2009
617249                   46457  2009
617250                   46457  2009
617251                   46457  2009
617252                   46457  2009

[617253 rows x 13 columns]

In [16]:
#Salvando o último cenário
voosp.to_csv('vooslucrativos.csv')